@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: samim;
    src: url('./fonts/Samim-FD.eot');
    src: url('./fonts/Samim-FD.ttf') format('truetype'),
         url('./fonts/Samim-FD.woff') format('woff'),
         url('./fonts/Samim-FD.woff2') format('woff2'),
         
         ;
    font-weight: normal;
    font-style: normal;
  }